################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/WebApplication/.vs/WebApplication/v17/.suo
/WebApplication/.vs/WebApplication/FileContentIndex
/Domain
/InmemoryInfrastructure/bin/Debug/net6.0
/InmemoryInfrastructure/obj/Debug/net6.0/ref/InmemoryInfrastructure.dll
/InmemoryInfrastructure/obj/Debug/net6.0/refint/InmemoryInfrastructure.dll
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.csproj.AssemblyReference.cache
/InmemoryInfrastructure/obj/Debug/net6.0/_IsIncrementalBuild
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.pdb
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.dll
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.csproj.FileListAbsolute.txt
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.csproj.CoreCompileInputs.cache
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.csproj.CopyComplete
/InmemoryInfrastructure/obj/Debug/net6.0/InmemoryInfrastructure.csproj.BuildWithSkipAnalyzers
/InmemoryInfrastructure/obj/project.nuget.cache
/InmemoryInfrastructure/obj/project.assets.json
/InmemoryInfrastructure/obj/InmemoryInfrastructure.csproj.nuget.dgspec.json
/NET6/bin/Debug/net6.0
/NET6/obj/Debug/net6.0/ref/NET6.dll
/NET6/obj/Debug/net6.0/refint/NET6.dll
/NET6/obj/Debug/net6.0/staticwebassets
/NET6/obj/Debug/net6.0/scopedcss/bundle
/NET6/obj/Debug/net6.0/scopedcss/projectbundle
/NET6/obj/Debug/net6.0/scopedcss/Views/Shared/_Layout.cshtml.rz.scp.css
/NET6/obj/Debug/net6.0/_IsIncrementalBuild
/NET6/obj/Debug/net6.0/staticwebassets.pack.json
/NET6/obj/Debug/net6.0/staticwebassets.development.json
/NET6/obj/Debug/net6.0/staticwebassets.build.json
/NET6/obj/Debug/net6.0/NET6.pdb
/NET6/obj/Debug/net6.0/NET6.MvcApplicationPartsAssemblyInfo.cache
/NET6/obj/Debug/net6.0/NET6.genruntimeconfig.cache
/NET6/obj/Debug/net6.0/NET6.dll
/NET6/obj/Debug/net6.0/NET6.csproj.FileListAbsolute.txt
/NET6/obj/Debug/net6.0/NET6.csproj.CoreCompileInputs.cache
/NET6/obj/Debug/net6.0/NET6.csproj.CopyComplete
/NET6/obj/Debug/net6.0/NET6.csproj.BuildWithSkipAnalyzers
/NET6/obj/Debug/net6.0/NET6.csproj.AssemblyReference.cache
/NET6/obj/Debug/net6.0/NET6.assets.cache
/NET6/obj/Debug/net6.0/apphost.exe
/Infrastructure/bin/Debug/net6.0
/Infrastructure/obj/Debug/net6.0/ref
/Infrastructure/obj/Debug/net6.0/refint
/Infrastructure/obj/Debug/net6.0/_IsIncrementalBuild
/Infrastructure/obj/Debug/net6.0/Infrastructure.pdb
/Infrastructure/obj/Debug/net6.0/Infrastructure.dll
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.CopyComplete
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/Infrastructure/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/NET6/obj/project.nuget.cache
/NET6/obj/project.assets.json
/NET6/obj/NET6.csproj.nuget.dgspec.json
/NET6/obj
/Infrastructure/obj/project.nuget.cache
/UseCase/bin/Debug/net6.0/UseCase.deps.json
/UseCase/bin/Debug/net6.0
/UseCase
/Infrastructure/obj/project.assets.json
/Infrastructure/obj/Infrastructure.csproj.nuget.dgspec.json
/WebApplication/.vs/BusHandleStructure/config
/WebApplication/.vs/BusHandleStructure
/WebApplication/.vs/ProjectEvaluation
/.vs
